<mat-sidenav-container class="sidenav-container">

  <mat-sidenav mode="side" opened class="sidenav" [class.collapsed]="isCollapsed">
    <mat-toolbar class="toolbar-red sidenav-toolbar">
      <img src="./../assets/images/1Vjka2te_400x400.jpg" alt="">
      <span *ngIf="!isCollapsed">Backoffice</span>

      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="/products" routerLinkActive="active" class="menu-item">
        <mat-icon class="icon-red">inventory_2</mat-icon>
        <span *ngIf="!isCollapsed">Produtos</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content" [style.marginLeft.px]="isCollapsed ? 72 : 220">
    <mat-toolbar class="toolbar-red">
      <span>Listagem de Produtos</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
